###### Unity3D ######
game/Temp
game/Library/
game/obj/
game/*.svd
export/
 
!Library/*.asset
!Library/AssetImportState
!Library/AssetVersioning.db
!Library/BuildPlayer.prefs
!Library/ScriptMapper
!Library/assetservercachev3
!Library/expandedItems
!Library/guidmapper
!Library/unity default resources
!Library/unity editor resources

# Blender backup files
*.blend[0-9]*
  
# Project files for Monodevelop, Visual Studio etc.
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.sublime-workspace

###### Other stuff (editor temp files, log files etc.) ######
*.bak
*.log
*.nfs*
*.out
*.swp
*~
*.pyc

[Tt]humbs.db
.DS_Store
